<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="comics" type="starzone.demo.entity.Product"*/-->
<form th:action="@{/add}" th:object="${comics}" method="post">

    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
       th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
    </p>

    <div class="form-group">
        <label for="name" class="control-label">name</label> <input id="name"
                                                                    class="form-control"
                                                                    th:field="*{name}"/>
    </div>


    <div class="form-group">
        <label for="description" class="control-label">description</label> <input id="description"
                                                                                  class="form-control"
                                                                                  type="text"
                                                                                  th:field="*{description}"/>
    </div>
    <div class="form-group">
        <label for="imageUrl" class="control-label">image name</label> <input id="imageUrl"
                                                                               class="form-control"
                                                                               type="text"
                                                                               th:field="*{image}"/>
    </div>
    <div class="form-group">
        <label for="price" class="control-label">price</label> <input id="price"
                                                                      class="form-control"
                                                                      type="text"
                                                                      th:field="*{price}"/>
    </div>
    <div class="form-group">
        <label for="artist" class="control-label">artist</label> <input id="artist"
                                                                        class="form-control"
                                                                        type="text"
                                                                        th:field="*{artist.artistName}"/>
    </div>
    <div class="form-group">
        <label for="artist age" class="control-label">artist age</label> <input id="artist age"
                                                                                class="form-control"
                                                                                type="text"
                                                                                th:field="*{artist.authorAge}"/>
    </div>
    <div class="form-group">
        <label for="author" class="control-label">author</label> <input id="author"
                                                                        class="form-control"
                                                                        type="text"
                                                                        th:field="*{author.authorName}"/>
    </div>
    <div class="form-group">
        <label for="author age" class="control-label">author age</label> <input id="author age"
                                                                                class="form-control"
                                                                                type="text"
                                                                                th:field="*{author.age}"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">add</button>
        <span>Already registered? <a href="/static" th:href="@{/login}">Login
        here</a></span>
    </div>

</form>
</body>
</html>