<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form th:action="@{/shop}" method="post">

        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
        </p>

        <label>some goods</label>
        <tr th:each="saber :${starzone.demo.entity.User.getShopList()}">
          //  <td th:text="${saber}"></td>
        </tr>
        <div class="form-group">
            <button type="submit" class="btn btn-success">add</button>
        </div>

    </form>
</head>
<body>

</body>
/>